@import "variables.less";
@import "fonts.less";

:root {
	--button-light-text: @lighter;
	--button-dark-text: @darker;
}

[data-theme="dark"] {
	--button-light-text: @darker;
	--button-dark-text: @lighter;
}

.button {
	
	font-size: 12pt;
	
	color: @dark;
	background-color: @neutral-lighter;

	border: none;
	border-radius: 5px;

	font-weight: 600;
	text-decoration: none;
	
	min-width: 48px;
	min-height: 48px;
	
	cursor: pointer;
	
	&:hover {
		opacity: 0.8;
	}
	


	&-positive-lighter { background-color: @positive-lighter; color: var(--button-dark-text); }
	&-positive-light { background-color: @positive-light; color: var(--button-dark-text); }
	&-positive { background-color: @positive; color: var(--button-light-text); }
	&-positive-dark { background-color: @positive-dark; color: var(--button-light-text); }
	&-positive-darker { background-color: @positive-darker; color: var(--button-light-text); }

	&-balanced-lighter { background-color: @balanced-lighter; color: var(--button-dark-text); }
	&-balanced-light { background-color: @balanced-light; color: var(--button-dark-text); }
	&-balanced { background-color: @balanced; color: var(--button-light-text); }
	&-balanced-dark { background-color: @balanced-dark; color: var(--button-light-text); }
	&-balanced-darker { background-color: @balanced-darker; color: var(--button-light-text); }

	&-assertive-lighter { background-color: @assertive-lighter; color: var(--button-dark-text); }
	&-assertive-light { background-color: @assertive-light; color: var(--button-dark-text); }
	&-assertive { background-color: @assertive; color: var(--button-light-text); }
	&-assertive-dark { background-color: @assertive-dark; color: var(--button-light-text); }
	&-assertive-darker { background-color: @assertive-darker; color: var(--button-light-text); }
	
	&-energized-lighter { background-color: @energized-lighter; color: var(--button-dark-text); }
	&-energized-light { background-color: @energized-light; color: var(--button-dark-text); }
	&-energized { background-color: @energized; color: var(--button-dark-text); }
	&-energized-dark { background-color: @energized-dark; color: var(--button-light-text); }
	&-energized-darker { background-color: @energized-darker; color: var(--button-light-text); }
	
	&-juicy-lighter { background-color: @juicy-lighter; color: var(--button-dark-text); }
	&-juicy-light { background-color: @juicy-light; color: var(--button-dark-text); }
	&-juicy { background-color: @juicy; color: var(--button-light-text); }
	&-juicy-dark { background-color: @juicy-dark; color: var(--button-light-text); }
	&-juicy-darker { background-color: @juicy-darker; color: var(--button-light-text); }
	
	&-neutral-lighter { background-color: @neutral-lighter; color: var(--button-dark-text); }
	&-neutral-light { background-color: @neutral-light; color: var(--button-dark-text); }
	&-neutral { background-color: @neutral; color: var(--button-light-text); }
	&-neutral-dark { background-color: @neutral-dark; color: var(--button-light-text); }
	&-neutral-darker { background-color: @neutral-darker; color: var(--button-light-text); }
	
	&-padded {
		padding: 8px 16px;
	}
}
