<template name="modal">
	{{#if isModalOpen}}
		<div class="modal-backdrop {{isClosing}}"></div>
		<div class="modal-wrapper {{isClosing}}" style="max-height: {{pageBottom}}px">
			<div class="modal {{options.class}}">
				<div class="modal-header">
					<p>{{options.title}}</p>
					<span class="modal__closeButton">
                        {{> icon "cancel"}}
					</span>
				</div>
				<div class="modal-content">
					{{> Template.dynamic template=template }}
				</div>
				{{#if footerTemplate}}
					<div class="modal-footer">
						{{> Template.dynamic template=footerTemplate }}
					</div>
				{{/if}}
			</div>
		</div>
	{{/if}}
</template>