<template name="modal">
	{{#if isModalOpen}}
		<modal-backdrop class="{{isClosing}}"></modal-backdrop>
		<modal-wrapper class="{{isClosing}}">
			<modal class="modal {{options.class}}">
				<modal-header>
					<p>{{options.title}}</p>
					<span class="modal__closeButton">
						<i class="icon ion-android-close"></i>
					</span>
				</modal-header>
				<modal-content>
					{{> Template.dynamic template=template }}
				</modal-content>
				{{#if footerTemplate}}
					<modal-footer>
						{{> Template.dynamic template=footerTemplate }}
					</modal-footer>
				{{/if}}
			</modal>
		</modal-wrapper>
	{{/if}}
</template>