.grid {
	display: grid;

	&.col-1 { grid-template-columns: 1fr; }
	&.col-2 { grid-template-columns: 1fr 1fr; }
	&.col-3 { grid-template-columns: 1fr 1fr 1fr; }
	&.col-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }
	&.col-5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
	&.col-6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
	&.col-1-auto { grid-template-columns: 1fr auto; }
	&.col-auto-1 { grid-template-columns: auto 1fr; }
	&.col-min-auto { grid-template-columns: minmax(100px, 200px) auto; }

	&.row-1 { grid-template-rows: 1fr; }
	&.row-2 { grid-template-rows: 1fr 1fr; }
	&.row-3 { grid-template-rows: 1fr 1fr 1fr; }
	&.row-4 { grid-template-rows: 1fr 1fr 1fr 1fr; }
	&.row-5 { grid-template-rows: 1fr 1fr 1fr 1fr 1fr; }
	&.row-6 { grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; }

	&.gap-1 { gap: 4px; }
	&.gap-2 { gap: 8px; }
	&.gap-3 { gap: 12px; }
	&.gap-4 { gap: 16px; }
	&.gap-5 { gap: 20px; }
	&.gap-6 { gap: 24px; }

}