<template name="header">
	<header>
		<nav class="flex flow-row-wrap align-center justify-space-between">
			<a href="/" class="flex flow-row-wrap align-center appLogo">
				<img src="/images/logo.svg" alt="A white M inside a purple hexagon">
				<span>Meteor Micro Server</span>
			</a>
			<div class="flex flow-row-wrap menuNavLinks">
				{{> menuNavLink path="about" title="About"}}
				{{> menuNavLink path="contact" title="Contact"}}
				{{#if isUserLoggedIn}}
					{{> menuNavLink path="profile" title="Profile"}}
					{{> menuNavLink path="logout" title="Logout"}}
				{{else}}
					{{> menuNavLink path="login" title="Login"}}
				{{/if}}
			</div>
		</nav>
	</header>
</template>

<template name="menuNavLink">
	<a href={{pathFor path}} class='{{class}} {{isActive path}}'>
		{{title}}
	</a>
</template>