* {
	box-sizing: border-box;
}

html {
	position: fixed;
}

body, html {
	
	position: relative;
    overflow-x: hidden;

    font-family: "Raleway", sans-serif;
    font-size: 12pt;
	font-weight: 400;

    line-height: 1.2;

    background-color: var(--lighter);
    color: var(--darker);
    
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Nunito", serif;
	font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--positive);
    font-weight: 500;
}

input {
    padding: 8px;
}

:root {
    --drawer-width: 320px;
    --drawer-movement: -344px;
}

#App {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 100px;
    
    transition: margin-left 0.3s ease-in-out;

    --overlay-color: rgba(0, 0, 0, 0.5);

    &.drawerOpen {
        //margin-left: var(--drawer-movement);
        background-color: rgba(172, 182, 192, 0.2);
    }

    &_header {
        height: 64px;

        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 16px;
        
        padding: 0 16px;

        h1 {
            margin: 0;
            padding: 0;
            color: var(--darker);
        }
        
        &_toggleDrawer {
            font-size: 24pt;
            padding: 8px;
            color: var(--darker);
            background: none;
            border: none;
        }
    }
    
    &_nav {
        height: 100%;
        
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: start;
        gap: 8px;
        
        a {
            display: flex;
            
            align-items: center;
            justify-content: center;
            gap: 4px;
            
            padding: 8px 16px;
            color: var(--neutral);
            
            font-size: 14pt;
            font-weight: 600;

            &.active {
                color: var(--darker);
                border-bottom: 2px solid var(--darker);
            }
        }
    }
    
    &_content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    &_footer {
        height: 100px;
    }
    
    &_drawer {
        position: fixed;
        top: 0;
        right: var(--drawer-movement);
        width: var(--drawer-width);
        height: 100vh;
        
        transition: all 0.3s ease-in-out;
        
        background-color: var(--lighter);
        
        box-shadow: rgba(1, 4, 9, 0.12) 0 1px 3px 0, rgba(52, 59, 67, 0.12) 0 8px 24px 0;

        border-radius: 12px 0 0 12px;

        &.drawerOpen {
            right: 0;
        }
        
        &_header {
            background-color: var(--lighter);
            
            color: var(--darker);
            
            display: flex;
            flex-flow: column;
            
            font-size: 16pt;
            padding: 24px 12px;
            
            gap: 8px;

            border-radius: 12px 0 0 0;

            &_profile {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                &_picture {
                    width: 32px;
                    height: 32px;
                    font-size: 32px;
                }

                &_username {
                    font-size: 16pt;
                }

                &_email {
                    font-size: 12px;
                    color: var(--neutral);
                }
            }
            
            p {
                margin: 0;
            }
            
            a {
                color: var(--darker);
            }
        }

        #App_nav {
            height: 100%;

            display: flex;
            flex-flow: column;
            align-items: start;
            justify-content: start;
            gap: 0;
            
            padding: 12px;

            hr {
                display: block;
                width: 100%;
                color: var(--neutral);
                margin: 8px 0;
            }

            a {
                width: 100%;
                align-items: start;
                justify-content: start;
                padding: 16px;
                min-height: 44px;
                color: var(--neutral-light);
                
                &.active {
                    background-color: var(--neutral-lighter);
                    color: var(--neutral-darker);
                    border: none;
                    border-radius: 4px;
                }
            }
        }
    }
}