@import "../../../node_modules/coughdrop/coughdrop";

:root {
	--alert-light-text: @lighter;
	--alert-dark-text: @darker;
}

.alerts {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	
	width: 100vw;
	
	z-index: @alert-index;
	
	display: flex;
	flex-flow: column;
	
	gap: 8px;
	margin-top: 8px;
	
	.alert {
		width: 90%;
		height: 64px;
		
		margin: 0 auto;
		
		font-size: 14pt;
		font-weight: 600;
		
		display: flex;
		align-items: center;
		justify-content: flex-start;
		
		background-color: @neutral-dark;
		color: @light;

		box-shadow: 2px 4px 2px hsla(0, 0%, 0%, 3%);
		border-radius: 5px;
		
		padding: 0 22px;
		
		& > .icon {
			font-size: 24pt;
			margin-right: 12px;
		}
		
		&__closeButton {
			font-size: 28pt;
			position: absolute;
			right: 8px;
			top: 8px;
			width: 48px;
			height: 48px;
			
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		&.success { background-color: @balanced; color: var(--alert-light-text); }
		&.error { background-color: @assertive; color: var(--alert-light-text); }
		&.warning { background-color: @energized; color: var(--alert-dark-text); }
		&.information { background-color: @positive-dark; color: var(--alert-light-text); }
		
		animation-name: popIn;
		animation-duration: 0.2s;
		animation-fill-mode: forwards;
		
		transition: transform 0.2s ease-in-out, 
					opacity 0.2s ease-in-out,
					top 0.2s ease-in-out;
		
		opacity: 1;
		transform: scale(0);
		
		&.isClosing {
			animation-name: slideRight;
		}
		
		&__closeButton {
			margin-left: auto;
			cursor: pointer;
		}
		
		overflow: hidden;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes popIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes popOut {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes slideRight {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes blindUp {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(200px);
	}
	100% {
		transform: translateY(-200%);
	}
}
