<template name="alerts">
	<div class="container container-900 container-centered alerts"></div>
</template>

<template name="alert">
	<alert class="alert {{type}} {{isClosing}}">
		{{#if (isAlertType "success")}}
            {{> icon "check_circle"}}
		{{/if}}
		
		{{#if (isAlertType "error")}}
            {{> icon "error"}}
		{{/if}}
		
		{{#if (isAlertType "warning")}}
            {{> icon "warning"}}
		{{/if}}
		
		{{#if (isAlertType "information")}}
            {{> icon "info"}}
		{{/if}}
		<span>{{content}}</span>
		<span class="alert__closeButton">
            {{> icon "cancel"}}
		</span>
	</alert>
</template>