<template name="login">
	<section>
		<form class="vertical shrink" id="login_form">
			<h3> Login </h3>
			{{> message error}}
			<input type="text" name="email" placeholder="email or username" min="3" max="45" required/>
			<input type="password" name="password" placeholder="password" min="8" max="100" required/>
			<button> <b>Login</b> </button>
			<p> Don't have an account? <a href="/register"> Register </a> </p>
		</form>
	</section>
</template>

<template name="register">
	<section>
		<form class="vertical shrink" id="register_form">
			<h3> Register </h3>
			{{> message error}}
			<input type="email" name="email" placeholder="email@domain.com" min="5" max="100" required/>
			<input type="username" name="username" placeholder="username" min="3" max="45" required/>
			<input type="password" name="password" placeholder="password" min="8" max="100" required/>
			<button> <b>Create Account</b> </button>
		</form>
	</section>
</template>

<template name="message">
	{{#if this}}
		<span class="fail"> {{this}} </span>
	{{/if}}
</template>
